@import "variables.css";

* {
  box-sizing: border-box;
}

body {
  padding-right: 0%;
  padding-left: 0%;
  color: #333;
  font-size: 16px;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
}

.menu-button {
  padding: 0 !important;
  width: 25px;
  height: 25px;
  background-color: #222;
}

.navbar.homepage .menu-button {
  background-color: white;
}

/*components*/
.button-solid {
  padding: .3em;
  line-height: 2em;
  border-radius: 1.5em;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  margin-top: auto;
}

.align-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.align-right div {
  text-align: right;
}
.homepage-subtitle {
  color: #969696;
  font-size: var(--b3);
}
.section-title {
  font-size: var(--h1);
  font-weight: 600;
  line-height: 2em;
}
.component-title {
  font-size: var(--h3);
  text-transform: uppercase;
  font-weight: 600;
}
.page-title {
  font-size: var(--page-h1);
  line-height: 3em;
  font-weight: 600;
}
.section-title-line {
  width: 170px;
  height: 6px;
  border-radius: 3px;
  margin-bottom: 50px;
}
.label {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.card-icon {
  width: 50px;
  /*height: 50px;*/
  margin: 0 30px 0 10px;
  align-self: flex-start;
  flex-grow: 0;
}

.card {
  border-radius: 6px;
  box-shadow: 1px 1px 8px 0 #d9d9d9;
  background-color: white;
}
.card-text{
  font-size: var(--b3);
  margin-bottom: 30px;
}
.card-style1 {
  padding: 30px;
  border: 2px solid #E7E7E7;
  display: flex;
}
.card-style1 > div {
  width: 100%;
}
.card-title {
  font-size: var(--h3);
  font-weight: 600;
  /*line-height: 3em;*/
  padding: 1em 15px 15px;
  padding-left: 0px;
}

.icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/*containers*/
.section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 60px 0;
  width: 100%;
}
.section.over {
  position: relative;
  z-index: 2;
}
.gallery {
  flex-wrap: wrap;
  justify-content: space-around !important;
  width: 100%;
}

.container {
  width: 70vw;
  margin-left: 5vw;
  max-width: 1200px;
  /*min-width: 800px;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container.center {
  align-items: center;
}

.container.left {
  align-items: left;
}

.container.right {
  align-items: flex-start;
}

.even-wrapper{
  display: flex;
}
.even-wrapper > div {
  width: 100%;
}
.hp-process-card-wrapper {
  margin: 10px 10px;
  align-self: stretch;
  padding: 30px;
  border: 3px none #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.flex-h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.glossary {
  width: 20%;
  height: 200px;
}
.smaller-section {
  margin: 30px 0;
}
.persona-section {
  margin: 0px;
}

.space-above {
  margin-top: 30px;
}
.full {
  width: 100%;
}

.h-padding {
  padding: 0 2%;
}

/*variables and small things*/

.blue-text {
  color: var(--color-dark-blue);
}
.red-text {
  color: var(--color-red);
}
.purple-text {
  color: var(--color-purple);
}
.green-text {
  color: var(--color-green);
}
.grey-text {
  color: #888;
}
.light-purple-text {
  color: var(--color-light-purple);
}

.h1 {
  font-size: var(--h1);
  font-weight: 600;
}
.h2 {
  font-size: var(--h2);
  font-weight: 600;
}
.h3 {
  font-size: var(--h3);
  font-weight: 600;
}
.b3 {
  font-size: var(--b3);
}
.b2 {
  font-size: var(--b2);
}
.b1 {
  font-size: var(--b1);
}

.red-bg {
  background-color: var(--color-red);
}
.blue-bg {
  background-color: var(--color-dark-blue);
}
.green-bg {
  background-color: var(--color-green);
}
.purple-bg {
  background-color: var(--color-purple)
}
.bg-light-purple{
  background-color: #FAFAFD;
}
.bg-light-blue{
  background-color: #F4FBFB;
}
.bg-white {
  background-color: white;
}
.overflow-top {
  padding-top: 300px;
  margin-top: -300px;
  position: relative;
}

/*nav bar*/
.navbar {
  z-index: 3;
  width: 100%;
  padding: 0 50px;
  position: fixed;
  height: 50px;
  color: #333;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 hsla(0, 0%, 87%, .49);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar.homepage .nav-brand{
  height: 25px;
  width: 250px;
  background-image: url("../images/Utility/nav_homepage.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.navbar .nav-brand{
  height: 25px;
  width: 250px;
  background-image: url("../images/Utility/nav.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.navbar a{
  text-decoration: none;
  padding: 0 20px;
  color: black;
}
.navbar a.active {
  font-weight: 600;
}
.navbar.homepage {
  background-color: #ffffff22;
  box-shadow: none;
}
.navbar.homepage a{
  color: white;
}
.mobile {
  display: none;
}

/*about page*/
.blog {
  padding: 15px;
}
.blog-img {
  background-color: #999;
  height: 200px;
  width: 275px;
  /*clip: rect(0px,200px,275px,0px);*/
  overflow: hidden;
}
.blog-descript-info {
  width: 250px;
  text-align: center;
}

/*footer*/
.footer-wrapper {
  display: flex;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, .05);
  justify-content: center;
  padding: 20px;
}
.footer-wrapper img {
  width: 130px;
}
.footer-wrapper p {
  color: #969696;
  font-size: 14px;
  margin: 0 5px;
}

/*banner*/
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 50px;
}
.banner .bg {
  position: absolute;
  top: 0;
  width: 45%;
  max-width: 800px;
  max-height: 500px;
  z-index: -2;
}
.banner .bg.left {
  left: 0;
}
.banner .bg.right {
  right: 0;
}
.banner-img-homepage {
  position: absolute;
  align-self: flex-end;
  width: 400px;
  margin-top: -250px;
}
.homepage-banner {
  background-image: url('../images/homepage/banner.svg');
  background-size: cover;
  color: #fff;
}
.hp-banner-title {
  font-size: var(--page-h2);
  line-height: 2em;
  font-weight: 600;
}
.hp-banner-paragraph {
  width: 55%;
  margin-top: 20px;
  font-size: var(--b1);
  line-height: 180%;
  font-weight: 300;
}
.banner-paragraph {
  width: 55%;
  font-size: var(--b1);
  line-height: 1.8em;
}

/*image*/
.image {
  width: 50%;
}
.image.left {
  margin-right: 30px;
}
.image.right {
  margin-left: 30px;
}
.shadowed {
  margin-left: -10px;
}
.image.bordered {
  border: 1px #e7e7e7 solid;
}
.image.hp-small {
  padding: 0 5vw;
}
.img-button {
  height: 3.5em;
  width: auto;
  margin-top: 1em;
  object-fit: contain;
}
.hp-process-bar {
  max-width: 100%;
  margin: 40px 0;
  align-self: center;
}

/*numbers*/
.project-numbers{
  display: flex;
  flex-direction: column;
}
.project-numbers h1{
  font-weight: bold;
  font-size: 64px;
  background: -webkit-linear-gradient(#EE4266, #3420AD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 0;
  line-height: normal;
}
.project-numbers h2{
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.teammate-intro {
  flex-shrink: 0;
  margin: 30px 0;
}

/*quote section*/
.flexblock-headshot {
  display: flex;
  width: 145px;
  height: 145px;
  justify-content: flex-start;
  margin-bottom: 20px;
  border-radius: 50%;
}
.quote-bubble {
  /*margin: 30px 0;*/
  width: 100%;
  padding: 2%;
  border-radius: 6px;
  background-color: var(--color-bg-light-purple);
}
.quote.b3 {
  margin-bottom: 10px;
}
.persona-text {
  /*margin: 30px 0;*/
  padding: 2%;
  border-radius: 6px;
  background-color: var(--color-bg-light-purple);
}
.big-quote {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 30px;
}

/*about specific*/
.about-intro-header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 30px;
}
.about-intro-header.right {
  align-items: flex-end;
  margin: 0 0 0 30px;
  /*text-align: left;*/
}
.small-purple-section {
  width: 100%;
  max-width: 300px;
  padding-left: 20px;
}
.person-links {
  margin-top: 25px;
  width: 110px;
  justify-content: space-between;
  display: flex;
}
.person-link {
  width: 30px;
  height: 30px;
}

/* slideshow */

.slideshow-img-wrapper{
  width: 100%;
  margin: 20px 0;
}
.slideshow-img-wrapper.h-wide {
  height: 30vw;
}
.slideshow-img-wrapper.h-normal {
  height: 36vw;
}
.slideshow-img-wrapper .tab-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow-img-wrapper.contain .tab-cover-image {
  object-fit: contain;
}
.slideshow-img-wrapper.contain .slideshow-img {
  object-fit: contain;
}
.slideshow-img-wrapper .slideshow-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.expand-icon{
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 40px;
  right: 20px;
  color: black;
  pointer-events: none;
}
.slideshow-img{
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  margin: 20px 0;
}
.slideshow-img:hover{
  opacity: 0.7;
}
.slideshow-img.active{
  display: block;
}
.dots-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.slideshow-item {
  display: none;
}
.slideshow-item.active {
  display: flex;
  justify-content: stretch;
}
.slideshow-dots {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 10px;
  background-color: #DFD6F1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slideshow-dots.active{
  background-color: #9477D1;
}
.slideshow-wrapper {
  padding-top: 0px;
  padding-bottom: 50px;
}
.slideshow-button {
  cursor: pointer;
  width: 20px;
  margin: 0 30px;
}

/*image click expand*/


/* The Modal (background) */
#expanded-img-wrapper{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  transition: all 0.5s linear;
  justify-content: center;
  align-items: center;
}

/* Modal Content (image) */
#expanded-img {
  display: block;
  width: 90%;
  height: 90%;
  object-fit: contain;
  cursor: pointer;
  transition: 0.3s;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
#expanded-img{
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s;
}


@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/*tabs*/

button:focus {outline:0;}
.tab-navbar {
  width: 100%;
  display: flex;
  border-bottom: 2px solid #EE4266;
  margin-bottom: 20px;
}
.tab-navbutton{
  flex-grow:1;
  height:40px;
  color: #969696;
  text-align: center;
  background-color: #00000000;
}
.tab-navbutton.active{
  color: #EE4266;
  font-weight: bold;
  border-bottom: 5px solid #EE4266;
}
.tab-navbar.blue{
  border-bottom: 2px solid #3420AD;
}
.tab-navbutton.blue.active{
  color: #3420AD;
  font-weight: bold;
  border-bottom: 5px solid #3420AD;
}
.tab-page{
  width: 100%;
  display: none;
}
.tab-page.active{
  display: block;
}
.tab-cover-image{
    cursor: pointer;
    transition: 0.3s;
    object-fit: contain;
}
.tab-cover-image:hover{
  opacity: 0.7;
}
.tab-content{
  display: flex;
}
.tab-content > div{
  width: 100%;
  padding-right: 20px;
}
.tab-page ul {
  list-style: none; /* Remove default bullets */
}
.tab-bullet li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #EE4266; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.tab-bullet.blue li::before{
  color: #3420AD;
}
.tab-bullet.purple li::before{
  color: var(--color-light-purple);
}

/*inpage nav*/
.inpage-nav {
  position: fixed;
  top: 30vh;
  margin-left: 30px;
}
.inpage-nav .line {
  width: 2px;
  height: calc(100% - 40px);
  margin-top: 20px;
  margin-left: 5px;
  border-right: solid var(--color-light-purple) 2px;
  position: absolute;
  z-index: -1;
}
.inpage-nav a .dot{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid var(--color-purple) 2px;
  background-color: white;
  margin-right: 10px;
}
.inpage-nav a.active .dot{
  width: 12px;
  height: 12px;
  background-color: var(--color-purple);
}
.inpage-nav a .nav-section{
  color: #999;
}
.inpage-nav a.active .nav-section{
  color: #000;
}
.inpage-nav a{
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 50px;
}
.test {
  height: 1000px;
  /*border: solid black 5px;*/
  text-align: center;
  font-size: 60px;
}

/*arrow & textbox*/
.arrow-text {
  padding: 0 20px;
  /*color: var(--color-red);*/
}

.space {
  flex-grow: 1;
}
.hline {
  align-self: center;
  border: 1px solid #ddd;
}
.text-box {
  background-image: url("../images/textbox.png");
  background-size: 100% 100%;
  padding: 60px 30px 30px;
  padding-bottom: 40px;
}

.card-icon-ipad {
  display: none;
}

.arrow-text-ipad {
  display: none;
}

.arrow-text.tablet-phone {
  padding-top: 30px;
  display: none;
}

.carousel {
  width: 100%;
}

ul {
  padding-left: 15px;
}

.tablet-phone {
  display: none;
}

@media (max-width: 991px) {
  .slideshow-img-wrapper{
    position: relative;
    width: 100%;
    margin: 20px 0;
}
  .teammate-intro .flexblock-headshot {
    width: 150px;
    height: 150px;
  }

  .hp-img-tablet {
    display: block;
  }

  .hp-process-bar {
    display: none;
  }

  .desktop {
    display: none;
  }

  .tablet-phone-v {
    flex-direction: column;
  }

  .tablet-phone {
    display: flex;
  }

  .arrow-text.tablet-phone {
    padding-top: 30px;
    display: block;
  }

  .banner-paragraph {
    width: 100%;
  }

  .container {
    width: 80vw;
    margin-left: 0;
  }

  .flexblock-headshot {
    width: 70px;
    height: 70px;
    margin-top: 20px;
  }

  .tab-content {
    flex-direction: column;
  }

  .tab-content > div {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .nav-menu {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    display: none;
    width: 100%;
    padding-top: 50px;
    background-color: #fff;
    z-index: -2;
    box-shadow: 1px 1px 8px 0 #d9d9d9;
  }

  .nav-menu > a {
    padding-left: 50px;
    line-height: 3em;
  }

  .nav-menu.show {
    display: flex;
  }

  .navbar.homepage .nav-menu {
    background-color: #5E215E;
    box-shadow: none;
  }
  .tab-navbar.blue{
    border-bottom: none;
  }

  .button-solid {
    width: fit-content;
    padding: 0 2em;
    align-self: flex-end;
  }

  .text-box {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
  }

  .banner.section {
    padding-top: 100px;
  }
  .banner .bg {
    top: 0;
    width: 40%;
    max-height: 350px;
    display: block;
  }
  .banner .bg.right {
    right: 0;
  }
  .banner .bg.left {
    left: 0;
  }

  .bg {
    width: 25%;
  }

  .tablet-phone-center-img {
    margin: 10px 0;
    padding: 0 !important;
    width: 90%;
    align-self: center;
  }

  .tablet-phone-center-img.hp-small {
    width: 50%;
  }

  .hline {
    display: none;
  }

  .tab-navbar {
    flex-flow: wrap;
    border-bottom: 0px;
    margin-bottom: 10px;
  }

  .tab-navbutton {
    width: 50%;
    flex-grow: 0;
  }

  .carousel {
    padding: 20px 30px;
    box-shadow: 1px 1px 8px 0 #d9d9d9;
    background-color: white;
  }

  .tab-cover-image {
    margin-bottom: 20px;
    height: 100%;
    object-fit: cover;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
  }

  .card-style1 {
    flex-direction: column;
  }

  .card-icon {
    display: none;
  }

  .hp-banner-paragraph {
    width: 100%;
  }

  .navbar.homepage {
    background-color: #ffffff22;
    color: white;
  }

  .quote-bubble .flex-h {
    flex-direction: column;
  }

  .quote-bubble .small-purple-section {
    width: 100%;
    padding: 0;
  }

  .footer-wrapper p {
    font-size: 11px;
  }
  .footer-wrapper img {
    width: 80px;
  }

}

@media (max-width: 479px) {
  body {
    font-size: 14px;
  }
  .page-title {
    font-size: 40px;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-title {
    font-size: 24px;
  }
  .tab-navbutton {
    width: 100%;
  }
  .banner-paragraph {
    font-size: 16px;
  }
  .h2 {
    font-size: 20px;
  }
  .text-box {
    padding-top: 40px;
  }
  .card-title {
    font-size: 18px;
  }
  .persona-section {
    align-self: center;
  }
  .persona-section .card-title {
    margin-top: 40px;
    padding: 0;
  }
  .mobile-v {
    flex-direction: column;
  }
  .component-title {
    font-size: 18px;
  }
  .label {
    font-size: 14px;
  }
  .h3 {
    font-size: 18px;
  }
  .flexblock-headshot {
    align-self: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 15px 0;
  }
  .space-above.lg {
    margin-top: 80px;
  }
  .footer-wrapper p {
    font-size: 10px;
  }
  .footer-wrapper img {
    width: 80px;
  }
  .slideshow-button {
    margin: 0 15px;
    width: 12px;
  }
  .slideshow-wrapper {
    padding: 20px 0;
  }
  .slideshow-wrapper h2 {
    font-size: 18px;
  }
  .slideshow-wrapper .h3 {
    font-size: 16px;
  }
  .label {
    font-size: 12px;
  }
  .h2 {
    font-size: 16px;
  }
  .tablet-phone-center-img.hp-small {
    width: 90%;
  }
  .teammate-intro .flexblock-headshot {
    width: 100px;
    height: 100px;
  }
}