.card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    padding: 30px;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    border-radius: 20px;
    /*background-color: #919191;*/
    border: solid #E7E7E7;
	border-width: 0 2px;
	border-top-width: 2px;
    border-bottom-width: 2px;
}

.card.research-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
}

.card-block {
    width: 500px;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.card-full-block {
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.card-half-block {
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}


.card-icon {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 20px;
}

.card-icon-no-padding {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-left: 20px;
    padding-right: 20px;
}

.quote-bubble-white {
  padding: 30px;
  border-radius: 25px;
  background: white;
  width: 100%;
}

.section-blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 60px 0;
  background-color: #F4FBFB;

}

.arrow {
	width: 125px;
	height: 50px;
}

#first-arrow {
	/*margin-left: 70px*/
	padding-left: 40px;
	width: 330px;
	text-align: center;
}

#middle-arrow {
	width: 330px;
	text-align: center;
}

#last-arrow {
	/*margin-right: 70px*/
	padding-right: 40px;
	width: 330px;
	text-align: center;
}