@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0);
        opacity: 0
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --font-label: 12px;
    --font-page-title: 28px;
    --font-page-title-home: 40px;
    --font-title: 30px;
    --font-body: 14px;
    --font-body-small: 12px;
    --font-body-large: 16px;
    --font-card-title: 20px;
    --color-red: #EE4266;
    --color-dark-blue: #2047AD;
    --color-purple: #9477D1;
}
